**/.DS_Store

.config/Autodesk
.config/carapace
.config/envman
.config/fish/**/*
.config/fish/fish_variables

!.config/fish/fish.config

.config/gcloud
.config/github-copilot
.config/karabiner
.config/lazygit
.config/neofetch
.config/linearmouse
.config/nix
.config/nvim.bck
.config/nvim.kickstarter
.config/raycast
.config/tmux/plugins
.config/containers
.config/configstore
.config/kn

# Unignore specific directories and files
!.config/aerospace
!.config/ghostty/**/*
!.config/starship.toml
!.config/aerospace
!.config/fish/config.fish

!.config/nvim

