.config/**/*

brew/Brewfile.lock.json
# .config/nvim/lazy-lock.json
# .config/github-copilot
# .config/linearmouse
# .config/neofetch
# .config/tmux/plugins/**

!.config/aerospace
!.config/nvim
!.config/ghostty
!.config/starship.toml
!.config/aerospace
!.config/fish/config.fish

# .config/fish/completions
# .config/fish/functions
# .config/fish/themes
# .config/fish/fish_variables
#

**/*/.DS_Store

